<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="/public/css/signup.css">

    <title>Sign Up page</title>
</head>

<body>
    <div class="container">
        <form action="/submitdata" method="post">
            <h1 style="color: antiquewhite;">Registration page</h1>
            <label for="name">Name</label>
            <input type="text" name="name" id="" placeholder="Enter your name"><br>
            <label for="email">Email address</label>
            <input type="email" name="email" id="" placeholder="Enter your E-mail"><br>
            <label for="password">password</label>
            <input type="password" name="password" id="" placeholder="Enter your password"><br>
            <button type="submit">SignUp </button>
            <button><a href="/login" style="color: aliceblue;">Login</a></button>


        </form>
    </div>
</body>

</html>